@import url('https://fonts.cdnfonts.com/css/minecraft-4');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Minecraft', sans-serif;
    letter-spacing: 2px;
}

h2 {
    color: var(--neutral-300);
}

html, body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--neutral-900);
    overflow: hidden;
}

/*---------------------------------------------------
Hero
 --------------------------------------------------*/
root {
    --hero-bg-image: url('/images/mountainlight.png');
}